/* MASTER Divi Blurb Module Css Code
** Product Built By Divi Den - https://webdesign101.berlin/divi-den/
** Get the latest module here: https://webdesign101.berlin/product/divi-blurb-module-layout-kit/
** Get Support Here: https://webdesign101.berlin/divi-den/support/  
** Default RED Colour to replace anywhere in the css = #cc0033  
*/

.blurbs_1 .et_pb_blurb_container {
    vertical-align: middle;
    padding: 1.57vw 1.05vw 1.05vw 2.1vw;
    line-height: 160%;
}
.blurbs_1 .et-pb-icon {
    font-size: 60px !important;
}

/*Hover*/
.blurbs_1 .et_pb_blurb,
.blurbs_1 .et_pb_blurb .et-pb-icon{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.blurbs_1 .et_pb_blurb:hover {
    box-shadow: 0 0 32.2px 2.8px rgba(204, 204, 204, 0.65);
}

.blurbs_1 .et_pb_blurb:hover .et-pb-icon{
    transform: scale(2);
}

.blurbs_1 .et_pb_blurb:hover .et_pb_blurb_container {
    -webkit-animation: fadeIn 5s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}



@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/*Responsive*/

@media only screen and (max-width: 1390px){
    .blurbs_1  .et_pb_blurb_container h4 a,
    .blurbs_1  .et_pb_blurb_container h4{
        font-size: 18px !important;
    }

    .blurbs_1 .et_pb_blurb:hover .et-pb-icon {
        transform: scale(1.4);
    }
}

@media only screen and (max-width: 767px){

    .blurbs_1 .et_pb_blurb:hover .et-pb-icon {
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 480px){
    .blurbs_1 .et_pb_blurb .et_pb_main_blurb_image {
        padding: 12.9vw;
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    .blurbs_1 .et_pb_blurb_container {
        padding: 20px;
        text-align: center;
    }

    .blurbs_1 .et-pb-icon {
        font-size: 100px !important;
    }
}

.blurbs_2 .et_pb_blurb_container {
    vertical-align: middle;
    padding: 1.05vw 1.05vw 0.5vw 2.1vw;
    line-height: 160%;
    position: relative;
    z-index: 5;
}

.blurbs_2 .et_pb_main_blurb_image img {
    display: block !important;
}

.blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container:before {
    left: -13px;
}

.blurbs_2 .et_pb_blurb_container:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container h4:after {
    width: 100%;
    margin: 14px 0 0px;
}

.blurbs_2 .et_pb_blurb .et_pb_blurb_container h4:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #cccccc !important;
    margin: 0 0 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container {
    -webkit-animation: fadeIn 1s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/

@media only screen and (max-width: 1390px) {
    .blurbs_2 .et_pb_blurb_container {
        padding: 0 1.05vw 0 2.1vw;
    }

    .blurbs_2 .et_pb_blurb .et_pb_main_blurb_image {
        vertical-align: middle;
        width: 30%;
    }

    .blurbs_2 .et_pb_blurb_container h4 a,
    .blurbs_2 .et_pb_blurb_container h4 {
        font-size: 18px !important;
    }

    .blurbs_2 .et_pb_blurb .et_pb_blurb_container h4:after {
        margin: 6px 0 -6px;
    }

    .blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container h4:after {
        margin: 6px 0 -6px;
    }
}

@media only screen and (max-width: 980px) {
    .blurbs_2 .et_pb_blurb .et_pb_main_blurb_image {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .blurbs_2 .et_pb_blurb .et_pb_main_blurb_image {
        width: 35%;
    }
}

@media only screen and (max-width: 480px) {
    .blurbs_2 .et_pb_main_blurb_image img {
        width: 100% !important;
    }

    .blurbs_2 .et_pb_blurb .et_pb_main_blurb_image {
        width: 100%;
        display: block !important;
        margin-bottom: 0 !important;
    }

    .blurbs_2 .et_pb_blurb_container {
        padding: 20px;
        text-align: center;
    }

    .blurbs_2 .et_pb_blurb_container:before {
        left: 0;
        top: 8px;
        bottom: auto !important;
        right: 0;
    }

    .blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container:before {
        top: -9px;
        left: 0;
    }

    .blurbs_2 .et_pb_blurb:hover .et_pb_blurb_container h4:after {
        margin: 6px auto -6px;
        width: 60% !important;
    }

    .blurbs_2 .et_pb_blurb .et_pb_blurb_container h4:after {
        margin: 6px auto -6px;
    }
}
.blurbs_3 .et_pb_column_4_4   h2:after{
    content: "";
    display: block;
    width: 131px;
    height: 1px;
    background-color: #d7d7d7;
    margin: 20px auto 36px;
}


.blurbs_3 .et_pb_column_1_4 .et-pb-icon{
    font-size: 60px !important;
}
.blurbs_3 .et_pb_column_1_4 .et_pb_blurb_container{
    padding: 0 17px 24px;
    line-height: 168%;

}


.blurbs_3 .et_pb_column_1_4{
    cursor: pointer;
}
.blurbs_3 .et_pb_column_1_4 .back .et-pb-icon:after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;

    -webkit-transition: all 0.9s linear;
    -moz-transition: all 0.9s linear;
    -o-transition: all 0.9s linear;
    -ms-transition: all 0.9s linear;
    transition: all 0.9s linear;
}
.blurbs_3 .et_pb_column_1_4 .back .et-pb-icon{
    font-size: 120px !important;
    /*border-bottom: 1px solid !important;*/
    line-height: 90%;
}


.blurbs_3 .et_pb_column_1_4:hover .back .et-pb-icon:after{
    width: 100%;
}

.blurbs_3 .et_pb_column_1_4{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}
.blurbs_3 .et_pb_column_1_4 .et_pb_blurb{

    background-position: center center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}


.blurbs_3 .et_pb_column_1_4 .et_pb_blurb .et_pb_main_blurb_image{
    display: block;
}
.blurbs_3 .et_pb_column_1_4 .et_pb_blurb.back{
    opacity: 0;
}

.blurbs_3 .et_pb_column_1_4 .et_pb_blurb.front{
    opacity: 1;
}

.blurbs_3 .et_pb_column_1_4:hover .et_pb_blurb.back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    /*transform-style: preserve-3d;*/
    opacity: 1;
}
.blurbs_3 .et_pb_column_1_4:hover .et_pb_blurb.front{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    /*transform-style: preserve-3d;*/
    opacity: 0;
}


/*Responsive*/

@media only screen and (max-width: 980px) {
    .blurbs_3 .et_pb_row{
        overflow: visible;
    }
        .blurbs_3 .et_pb_column_1_4 .et_pb_blurb{
        max-width: 226px;
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }

    }
@media only screen and (max-width: 480px) {
    .blurbs_3 .et_pb_column_1_4 .et_pb_main_blurb_image {

        padding: 40px !important;
        margin-bottom: 23px;
    }

}
.blurbs_4 .et_pb_column_1_3  {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;

    cursor: pointer;
}
.blurbs_4 .et_pb_blurb  {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.blurbs_4 .et_pb_column_1_3 .back .et_pb_blurb_content p{
    min-width: 200px;
}


.blurbs_4 .et_pb_column_1_3:hover .front {
    -webkit-transform: translate3d(0,118%,0) rotate3d(1,0,0,-90deg);
    -moz-transform: translate3d(0,118%,0) rotate3d(1,0,0,-90deg);
    -o-transform: translate3d(0,118%,0) rotate3d(1,0,0,-90deg);
    -ms-transform: translate3d(0,118%,0) rotate3d(1,0,0,-90deg);
    transform: translate3d(0,118%,0) rotate3d(1,0,0,-90deg);


    opacity: 0 !important;
}
.blurbs_4 .et_pb_column_1_3:hover .back  {
    -webkit-transform: rotate3d(1,0,0,0deg);
    -moz-transform: rotate3d(1,0,0,0deg);
    -o-transform: rotate3d(1,0,0,0deg);
    -ms-transform: rotate3d(1,0,0,0deg);
    transform: rotate3d(1,0,0,0deg);
    opacity: 1;
}



/*Responsive*/


@media only screen and (max-width: 1390px) {
    .blurbs_4 .et_pb_blurb h4,
    .blurbs_4 .et_pb_blurb h4 a{
        font-size: 18px !important;
    }
}



@media only screen and (max-width: 980px) {

    .blurbs_4 .et_pb_blurb.front {
        padding: 40px !important;
    }
    .blurbs_4 .et_pb_blurb .et_pb_main_blurb_image,
    .blurbs_4 .et_pb_blurb .et_pb_blurb_content{
        text-align: center !important;
    }
}
.blurbs_5 .et_pb_main_blurb_image:after {
    pointer-events: none;
    position: absolute;
    content: '';
    left: 0;
    height: 10px;
    width: 46%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 67%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
    display: block;
    margin: 0px auto 0;
    right: 0;
}

.blurbs_5 .et_pb_main_blurb_image img {
    padding: 3.7vw;
    display: block;
    width: 100%;

}

.blurbs_5 .et_pb_blurb_container {
    line-height: 190%;
}

.blurbs_5 .et_pb_blurb:hover .et_pb_main_blurb_image {
    transform: translateY(-17px);
}

.blurbs_5 .et_pb_blurb:hover .et_pb_main_blurb_image:after {
    opacity: 1;
    transform: translateY(29px);
}

.blurbs_5 h4:after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #d7d7d7;
    margin: 24px auto -25px;
    transition-duration: 0.3s;
}

.blurbs_5 .et_pb_blurb:hover h4:after {
    width: 40%;
}

.blurbs_5 .et_pb_blurb:hover .et_pb_blurb_container {
    -webkit-animation: fadeIn 5s infinite; /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Responsive*/


@media only screen and (max-width: 980px) {
    .blurbs_5 .et_pb_main_blurb_image {
        max-width: 200px;
        margin: 0 auto 40px;
    }

    .blurbs_5 .et_pb_main_blurb_image img {
        padding: 6vw;
    }
}

@media only screen and (max-width: 767px) {
    .blurbs_5 .et_pb_main_blurb_image img {
        padding: 9vw;
    }
}

@media only screen and (max-width: 480px) {
    .blurbs_5 .et_pb_main_blurb_image img {
        padding: 14vw;
    }
}
.blurbs_6 .et_pb_main_blurb_image img {
    filter: grayscale(100%);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container h4 {
    position: relative;
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container h4:after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container h4:before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container h4:before,
.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container h4:after {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 2px;
    background: #cc0033;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_blurb_container h4:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_blurb_container h4:before {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_blurb_container p {
    transform: translateY(15px);
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container,
.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_main_blurb_image a {
    position: relative;
    z-index: 3;
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_main_blurb_image {
    position: relative;
    max-width: 74px;
    margin: 0 auto 10px;
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_blurb_container p,
.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_main_blurb_image img,
.blurbs_6 .et_pb_column_1_3 .et_pb_blurb .et_pb_main_blurb_image:after {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.blurbs_6 .et_pb_column_1_3 .et_pb_blurb:hover .et_pb_main_blurb_image img {
    filter: grayscale(0);
}
.blurbs_7 .et_pb_column_4_4 .et_pb_blurb {
    width: 18% !important;
    margin-right: 2.4% !important;
    float: left;
    text-align: center;
}

.blurbs_7 .et_pb_column_4_4 .et_pb_blurb  .et_pb_main_blurb_image:after {
    pointer-events: none;
    position: absolute;
    content: '';
    left: 0;
    height: 10px;
    width: 46%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 67%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
    display: block;
    margin: 0px auto 0;
    right: 0;
    margin-bottom: -10px !important;
}
.blurbs_7 .et_pb_column_4_4 .et_pb_blurb:last-child {
    margin-right: 0 !important;

}

.blurbs_7 .et_pb_column_4_4 .et_pb_blurb img {
    transition: 0.3s !important;
}

.blurbs_7 .et_pb_column_4_4 .et_pb_blurb h4 a {
    transition: 0.3s !important;
}

.blurbs_7 .et_pb_column_4_4 .et_pb_blurb:hover h4 a {
    color: #cc0033 !important;
}

.blurbs_7 .et_pb_column_4_4 .et_pb_blurb:hover  .et_pb_main_blurb_image:after {
    -webkit-animation: shrink 1s infinite; /* Safari 4.0 - 8.0 */
    animation: shrink 1s infinite;
    position: relative;
    animation-iteration-count: 1;
    opacity: 1;
}
.blurbs_7 .et_pb_column_4_4 .et_pb_blurb:hover img {
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
    position: relative;
    animation-iteration-count: 1;
}

@-webkit-keyframes mymove {
    from {
        top: 0;
    }
    to {
        top: 10px;
    }
}

@keyframes mymove {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -9px, 0);
        transform: translate3d(0, -9px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}


@-webkit-keyframes shrink {
    from {
        width: 25%;
    }
    to {
        width: 46%;
    }
}
@keyframes shrink {

    from, 20%, 53%, 80%, to {
        width: 46%;
    }

    40%, 43% {
        width: 25%;
    }

    70% {
        width: 35%;
    }

    90% {
        width: 43%;
    }
}


/*Responsive*/


@media only screen and (max-width: 980px) {
    .blurbs_7 .et_pb_column_4_4 .et_pb_blurb h4{
        font-size: 16px !important;
    }

    .blurbs_7 .et_pb_column_4_4 .et_pb_blurb  .et_pb_main_blurb_image{
        max-width: 80px;
        margin: 0 auto 20px;
    }
}

@media only screen and (max-width: 767px) {
    .blurbs_7 .et_pb_column_4_4 .et_pb_promo_description,
    .blurbs_7 .et_pb_column_4_4 {
        text-align: center;
    }
    .blurbs_7 .et_pb_column_4_4 .et_pb_blurb {
        width: 31% !important;
        margin-right: 2.5% !important;
        float: none !important;
        display: inline-block;
    }

    .blurbs_7 .et_pb_column_4_4 .et_pb_blurb:nth-child(3){
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .blurbs_7 .et_pb_column_4_4 .et_pb_blurb {
        width: 100% !important;
        margin-right: 0% !important;
    }
}
.blurbs_8 .et_pb_column_4_4 .et_pb_text {
    width: 25.9% !important;
    margin-right: 2% !important;
    float: left;
    text-align: left;
    padding-top: 32px;
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
    width: 10% !important;
    margin-right: 5.5% !important;
    float: left;
    text-align: center;
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb:last-child {
    margin-right: 0 !important;

}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb .et_pb_promo_description {
    max-width: 790px;
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
    cursor: pointer;
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb:after {
    content: "";
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    box-shadow: 0px 0px 32.2px 2.8px rgba(204, 204, 204, 0.65);
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    z-index: 0;
    top: 50%;
    transform: translate(0,-50%) scale(0);
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb:after,
.blurbs_8 .et_pb_column_4_4 .et_pb_blurb .et_pb_blurb_container ,
.blurbs_8 .et_pb_column_4_4 .et_pb_blurb .et_pb_main_blurb_image {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb:hover .et_pb_blurb_container {
    transform: translateY(-15px);
}

.blurbs_8 .et_pb_column_4_4 .et_pb_blurb:hover:after {
    top: 50%;
    transform: translate(0,-50%) scale(1.8);
}

/*Responsive*/

@media only screen and (max-width: 1390px) {
    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb h4,
    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb h4 a {
        font-size: 16px !important;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
        width: 11% !important;
        margin-right: 4.2% !important;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb:hover:after {
        transform: translate(0,-50%) scale(1.6);
    }


}

@media only screen and (max-width: 980px) {
    .blurbs_8 .et_pb_column_4_4 .et_pb_promo_description {
        text-align: center !important;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_text {
        width: 100% !important;
        margin-right: 0% !important;
        text-align: center;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
        width: 18% !important;
        margin-right: 2.5% !important;
        float: left;
        text-align: center;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb:last-child {
        margin-right: 0 !important;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb .et_pb_main_blurb_image {
        max-width: 80px;
        margin: 0 auto 20px;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb:hover:after {
        transform: translate(0,-50%) scale(1.2);
    }

}

@media only screen and (max-width: 767px) {
    .blurbs_8 .et_pb_column_4_4 {
        text-align: center !important;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
        width: 31% !important;
        margin-right: 2.5% !important;
        float: none !important;
        display: inline-block;
    }

    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb:nth-last-child(3) {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .blurbs_8 .et_pb_column_4_4 .et_pb_blurb {
        width: 100% !important;
        margin-right: 0% !important;
    }
}